<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-nav">
                <div class="servicec-list">
                    <h3 class="footer-list-title">Услуги центра</h3>
                    <ul class="footer-list">
                        <li><a href="#">Стоматология терапевтическая</a></li>
                        <li><a href="#">Гигиена полости рта </a></li>
                        <li><a href="#">Стоматология хирургическая</a></li>
                        <li><a href="#">Стоматология ортопедическая</a></li>
                        <li><a href="#">Процедурный кабинет</a></li>
                        <li><a href="#">Ортондонтия</a></li>
                        <li><a href="#">Лазерная стоматология</a></li>
                        <li><a href="#">Ультрозвуковое исследование</a></li>
                        <li><a href="#">Гинекология</a></li>
                        <li><a href="#">Урология</a></li>
                    </ul>
                </div>
                <div class="servicec-list">
                    <h3 class="footer-list-title">Информация</h3>
                    <ul class="footer-list">
                        <li><a href="#">О стоматологии</a></li>
                        <li><a href="#">Все услуги</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Документы</a></li>
                        <li><a href="#specialists">Специалисты</a></li>
                        <li><a href="#">Фотогалерея</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Вопросы</a></li>
                        <li><a href="#">Записаться на прием</a></li>
                        <li><a href="#">Политика конфендециальности</a></li>
                    </ul>
                </div>
            </div>
            <div class="contacts-wrapper" id="contacts">
                <h3 class="contacts-wrapper-title">Контакты медицинского центра</h3>
                <div class="footer-appointment">
                    <p class="contacts-tel">
                        <a href="tel:79175839000">+7 (917) 583-90-00</a>
                        <a href="tel:74997451010">+7 (499) 745-10-10</a>
                    </p>
                    <a class="button button-apointment" href="#">Записаться на прием</a>
                </div>
                <div class="footer-location">
                    <p class="adres">
                        <b>Наш адрес:</b> 127204, г. Москва<br>
                        9-я Северная линия, дом 17<br>
                        <b>Станция метро</b> «Альтуфьево»
                    </p>
                    <p class="working-hours">
                        <b>График работы центра:</b><br>
                        ПН : ВС с 09:00 до 20:00<br>
                        Без выходных
                    </p>
                </div>
                <div class="copyright-wrapper">
                    <p class="copyright">© 2018 <b>Медицинский центр «СЕВЕР +»</b> оказывает услуги в таких медицинских направлениях как: стоматология и прием анализов. Все права защищены.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="model-appointment">
    <h2>Оставте заявку</h2>
    <p>И вам перезвонят с регистратуры <br>
    для уточнения деталей посещения клиники</p>
<form action="">
    <p class="name">
        <input class="field" type="text" placeholder="Введите ваше ФИО">
    </p>
    <p class="tel">
        <input class="phone-mask field" type="tel" name="tel" required placeholder="Ваш телефон">
        <span>*</span>
    </p>
    <p class="button-appointment">
        <button class="button button-send" type="submit">Записаться на прием</button>
    </p>
    <p class="confidential">
        Отправляя заявку вы соглашаетесь с <a href="">политикой конфиндециальности</a>
    </p>
</form>
<button class="model-close">Закрыть</button>
</section>
<div class="overlay"></div>
<!-- /FOOTER -->