<section class="medical-servicec">
    <div class="container">
        <ul class="medical-list-slider">
            <li>
                <div class="medical-item">
                    <h2>Реставрация зубов<br>
                        filtek ultimate
                    </h2>
                    <p>Универсальная нано технология реставрации зубов специальным фотополимеризуемым компоненнтом 
                       с возможностью выбора оттенка </p>
                    <a class="button-orange button-price" href="#">Узнать стоимость</a>
                </div>
                <img src="Images/photo.png" alt="">
            </li>
            <li>
                <div class="medical-item">
                    <h2>Реставрация зубов 2<br>
                        filtek ultimate
                    </h2>
                    <p>Универсальная нано технология реставрации зубов специальным фотополимеризуемым компоненнтом 
                       с возможностью выбора оттенка </p>
                    <a class="button-orange button-price" href="#">Узнать стоимость</a>
                </div>
                <img src="Images/photo.png" alt="">
            </li>
            <li>
                <div class="medical-item">
                    <h2>Реставрация зубов 3<br>
                        filtek ultimate
                    </h2>
                    <p>Универсальная нано технология реставрации зубов специальным фотополимеризуемым компоненнтом 
                       с возможностью выбора оттенка </p>
                    <a class="button-orange button-price" href="#">Узнать стоимость</a>
                </div>
                <img src="Images/photo.png" alt="">
            </li>
            <li>
                <div class="medical-item">
                    <h2>Реставрация зубов 4<br>
                        filtek ultimate
                    </h2>
                    <p>Универсальная нано технология реставрации зубов специальным фотополимеризуемым компоненнтом 
                       с возможностью выбора оттенка </p>
                    <a class="button-orange button-price" href="#">Узнать стоимость</a>
                </div>
                <img src="Images/photo.png" alt="">
            </li>
        </ul>
    </div>
</section>