<div class="appointment-wrapper">
    <div class="container">
        <section class="appointment">
            <div class="appointment-content">
                <strong class="title white">Хотите записаться на прием в клинику?</strong>
                <p>Для записи на прием к специалисту на нужную вам дату и время, Вам необходимо позвонить
                    по одному из телефонов <a class="link" href="tel:79175839000">+7(917)5839000</a> <a class="link" href="tel:74997451010">+7(499)7451010</a> или оставить заявку.</p>
            </div>
            <a class="button-orange button" href="#">Записаться на прием</a>
        </section>
    </div>
</div>