<section class="intro">
    <div class="container">
        <h2 class="title">Медицинский центр</h2>
        <div class="intro-inner">
            <div class="intro-left">
                <p>
                    Медицинский центр «СЕВЕР +» предлагает медицинские услуги в области:
                    терапевтической, хирургической, ортопедической стоматологии, ортодонтии и услуг процедурного кабинета (в том числе прием анализов).
                </p>
                <p>
                    Мы отстаиваем комплексный, индивидуальный подход к лечению каждого пациента.
                </p>
                <p>
                    Успех деятельности нашего медицинского центра определяется профессиональным,
                    энергичным и сплоченным коллективом, а также умением предложить пациенту наиболее удобные и выгодные условия. 
                </p>
                <p>
                    Для Вашего удобства, Вы имеете возможность выбрать подходящее время и день визита к специалисту.
                </p>
                <p>
                    Запись по телефонам: <a class="link" href="tel:79175839000">+7 (917) 583-90-00</a>, <a class="link" href="tel:74997451010">+7 (499) 745-10-10</a>
                </p>
            </div>
            <img class="image-reception" width="570" height="380" src="Images/reception.jpg" alt="Ресепшен">
        </div>
    </div>

</section>