<section class="specialists" id="specialists">
    <div class="container">
        <div class="specialists-center">
            <h2 class="title black">Наши специалисты</h2>
            <p class="specialists-intro">Наш штат врачей включает в себя самых квалифицированных специалистов в различных областях медицины.</p>
        </div>
        <ul class="specialist-slider">
            <li>
                <div class="specialist-wrap">
                    <img src="images/Krasikov.jpg" width="270" height="342" alt="Фото врача">
                    <h3>Красиков Алексей<br> Анатольевич</h3>
                    <p>Главный врач, врач стоматолог-терапевт, ортопед</p>
                </div>
            </li>
            <li>
                <div class="specialist-wrap">
                    <img src="images/sotaev.jpg" width="270" height="342" alt="Фото врача">
                    <h3>Соттаев Азрет<br> Зейтунович</h3>
                    <p>Врач стоматолог-терапевт, ортопед, хирург</p>
                </div>
            </li>
            <li>
                <div class="specialist-wrap">
                    <img src="images/Klemenov.jpg" width="270" height="342" alt="Фото врача">
                    <h3>Клейменов Илья<br> Юрьевич</h3>
                    <p>Врач стоматолог-терапевт, хирург</p>
                </div>
            </li>
            <li>
                <div class="specialist-wrap">
                    <img src="images/Shelihova.jpg" width="270" height="342" alt="Фото врача">
                    <h3>Шелихова Ольга<br> Николаевна</h3>
                    <p>Старшая медсестра</p>
                </div>
            </li>
            <li>
                <div class="specialist-wrap">
                    <img src="images/Krasikov.jpg" width="270" height="342" alt="Фото врача">
                    <h3>Красиков Алексей<br> Анатольевич</h3>
                    <p>Главный врач, врач стоматолог-терапевт, ортопед</p>
                </div>
            </li>
            <li>
                <div class="specialist-wrap">
                    <img src="images/sotaev.jpg" width="270" height="342" alt="Фото врача">
                    <h3>Соттаев Азрет<br> Зейтунович</h3>
                    <p>Врач стоматолог-терапевт, ортопед, хирург</p>
                </div>
            </li>
            <li>
                <div class="specialist-wrap">
                    <img src="images/Klemenov.jpg" width="270" height="342" alt="Фото врача">
                    <h3>Клейменов Илья<br> Юрьевич</h3>
                    <p>Врач стоматолог-терапевт, хирург</p>
                </div>
            </li>
            <li>
                <div class="specialist-wrap">
                    <img src="images/Shelihova.jpg" width="270" height="342" alt="Фото врача">
                    <h3>Шелихова Ольга<br> Николаевна</h3>
                    <p>Старшая медсестра</p>
                </div>
            </li>
        </ul>
        <div class="specialist-slider-nav">
            <a class="button-circle-prev" href="#" class="specialist-slider-left"></a>
            <a href="#" class="button button-center">Все специалисты</a>
            <a class="button-circle-next" href="#" class="specialist-slider-right"></a>
        </div>

    </div>
</section>