<section class="services">
   <div class="container">
    <header class="services-header">
        <h2 class="title">
            Услуги центра
        </h2>
        <p>Наш медецинский центр предоставляет широкий спектр услуг различной
            направлености. От протезирования и лечения зубов до гинекологии и урологии.
        </p>
    </header>
    <ul class="services-list">
        <li>
            <img src="images/teeth.jpg" width="70" height="55" alt="Зубы">
            <div class="services-list-content">
                <h3>Терапевтическая стоматология</h3>
                <p>Профилактика, прогнозирование и лечение болезней ротовой полости, а точнее – зубов, десен, слизистой оболочки и других зон.</p>
            </div>
        </li>
        <li>
            <img src="Images/tooth.jpg" width="58" height="68" alt="Зуб">
            <div class="services-list-content">
                <h3>Стоматология хирургическая </h3>
                <p>Операции по удалению зубов, подготовка и имплантация зубов,
                также разнообразные эстетические операции в пародонтологии.</p>
            </div>
        </li>
        <li>
            <img src="Images/laser-surgery.jpg" width="70" height="53" alt="зубы">
            <div class="services-list-content">
                <h3>Лазерная стоматология </h3>
                <p>Универсальная методика лечения заболеваний слизистой оболочки рта и пародонта.</p>
            </div>
        </li>
        <li>
            <img src="Images/ultrasound.jpg" width="69" height="55" alt="Узи">
            <div class="services-list-content">
                <h3>Ультразвуковое исследование</h3>
                <p>Неинвазивное исследование организма человека с помощью ультразвуковых волн. </p>
            </div>
        </li>
        <li>
            <img src="Images/embryo.jpg" width="70" height="70" alt="Эмбрион">
            <div class="services-list-content">
                <h3>Гинекология </h3>
                <p>Профилактика, прогнозирование и лечение болезней женской половой системы. Наблюдение за здоровьем беременных и рожениц.</p>
            </div>
        </li>
        <li>
            <img src="Images/kidneys.jpg" width="69" height="60" alt="Почки">
            <div class="services-list-content">
                <h3>Урология</h3>
                <p>Диагностика и лечение на разных этапах урологических заболеваний, Различные урологические операций. </p>
            </div>
        </li>
    </ul>
    <a class="button" href="#">Все услуги</a>
   </div>
</section>